.numbersName {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  align-items: center;
  font-weight: 600;
}
.numbers {
  margin: 0;
  margin-left: 20px;
  font-size: 16px;
  font-style: normal;
  align-items: center;
  font-weight: 600;
}
